body{
    background: rgb(248, 106, 106);
}

#titulo{
    font-size: 50px;
    text-align: center;
    font-weight: 900;
}

.img{
    width: 40%;
    height: 400px;
}

.subtitulo{
    text-align: center;
    font-size: 40px;
}

.descripcion{
    text-align: center;
    font-size: 30px;
    font-weight: 300;
}

.lista{
    text-align: center;
    list-style: none;
    font-size: 30px;
}
