body{
    background: rgb(248, 106, 106);
}

#titulo{
    font-size: 50px;
    text-align: center;
    font-weight: 900;
}

.img{
    width: 40%;
    height: 400px;
}

.subtitulo-1{
    text-align: center;
    font-size: 40px;
}

.subtitulo-2{
    text-align: center;
    font-size: 40px;
}

.subtitulo-3{
    text-align: center;
    font-size: 40px;
}

.descripcion{
    text-align: center;
    font-size: 30px;
    font-weight: 300;
}

.lista-1{
    font-size: 25px;
    text-align: center;
    list-style: none;    
}

.lista-2{
    font-size: 20px;
}

.links{
    text-align: center;
    list-style: none;
    font-size: 30px;
}

.link{
    text-align: center;
    font-size: 30px;
}
